.textDec{
  font-size: 20px;
  font-weight: bold;
  color: green;
  list-style-type: none;
  display: flex;
  width: 500px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}

.active{
  background-color: blue;
  color: darkblue;
}

.disabled{
  background-color: red;
  color: darkred;
}